<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.alfred"
    android:installLocation="preferExternal"
    android:usesCleartextTraffic="true">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alfred"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".UI.view.Home.PopUpNetworkActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""
                />
        </activity>
        <activity
            android:name=".UI.view.Car.RegisterCarActivity"
            android:exported="false"
            android:label="@string/title_activity_register_car"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Alfred.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.view.Auth.ActivityProfile"
            android:exported="false"

            android:screenOrientation="portrait"
            android:theme="@style/Theme.Alfred.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.view.Services.ActivityRequestService"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.view.Services.ActualServices"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.view.Home.ActivityHome"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityDetalleAliado"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityAliados"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityLogin"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySignup"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCar"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>